article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }


body
{
font-size: 100%;

}

/*title "1 year june"*/
.title_h1
{
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 1.5em;
background: white;
width: auto;
text-align: center;
border-radius: 0.2em;  /*to make border rounded*/
display: inline;
position: absolute;
top:5%;
left: 10%;
}

/*   ---------------------------------------------------------------------------------------------------  */

/*main menu */

.main_menu	/*main menu*/
{
list-style-type: none;   /* to avoid bullets in the list items */
display: inline;
position: absolute;
top:5%;
left: 20%;

}

.main_menu li
{
display: inline;      	/* to display horizontally */
}


/* --------------------------------------------------------------------------------------------------------------*/

/* main white div */
.main_div 	/*class to draw main div*/
{
position: absolute;  /*positioned relative to body*/
top: 18%;
left: 15%;
width: 65%;
background:white;
padding: 5px;
}

/* --------------------------------------------------------------------------------------------------------------*/



#welcome_note 
{
border: 2px solid rgb(0,0,0);
border-radius: 0.2em;
width: 15em;
height: 16em;
background: white;
padding: 2px;
display: inline-block;
margin: 5px;
}
#welcome_note h3
{
text-align: center;
}

.mainpage_header
{
height: 15em;
background: #ff8566;
position: relative;    /*positioned relative to main div*/
top: 20px;
left: 10px;
width: 80%;
}

#DP_img
{
border: 2px solid black;
width: 10em;
height: 10em;
}






















/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*  PHOTO PAGE */

/* --------------------------------------------------------------------------------------------------------------*/
.Photo_main_div
{
position: absolute;  /*positioned relative to body*/
top: 18%;
left: 15%;
width: 80%;
background:white;
padding: 5px;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
}

/* --------------------------------------------------------------------------------------------------------------*/
#photo_page_outline
{
width:90%;
margin-left: auto;
margin-right: auto;
border: 1px dashed black;
border-radius: 10px;

}
/* --------------------------------------------------------------------------------------------------------------*/

#photo_page_header 
{
width:100%;
text-align: center;
background: rgb( 251, 130, 184);
border-top-left-radius:10px;
border-top-right-radius:10px;
}


/* --------------------------------------------------------------------------------------------------------------*/
#photo_page_footer
{
width:100%;
text-align: center;
background: rgb( 251, 130, 184);
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
clear: both;
}

/* --------------------------------------------------------------------------------------------------------------*/
#content
{
width:100%;
margin-left: auto;
margin-right: auto;
}
/* --------------------------------------------------------------------------------------------------------------*/

#content ul
{
list-style: none;
}

/* --------------------------------------------------------------------------------------------------------------*/

#content li
{
width: 14em;
float:left;
}

#content img
{
	-webkit-webkit-transition: all 1s ease;
	-moz-webkit-transition: all 1s ease;
	-ms-webkit-transition: all 1s ease;
	-o-webkit-transition: all 1s ease;
	transition: all 1s ease;
	filter: blur(3px);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);
	-o-filter: blur(3px);
	border: 1px solid #000000;
}

#content img:hover{
	-webkit-webkit-transition: all 1s ease;
	-moz-webkit-transition: all 1s ease;
	-ms-webkit-transition: all 1s ease;
	-o-webkit-transition: all 1s ease;
	transition: all 1s ease;
	filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);
	-o-filter: blur(0px);
	transform: translateZ(25px) rotate(3deg);
	border: 1px solid #000000;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}